<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ytpillai.cmsc_355_proj">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Used for Junit testing -->
    <!--
 <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher2"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher2_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreatePasswordActivity"/>
        <activity android:name=".InputPasswordActivity"/>
        <activity android:name=".ProgramActivity"/>
        <activity android:name=".OtherActivity"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity android:name=".ContactsActivity"/>
        <activity android:name=".ConversationActivity"/>

        <service
                android:name=".services.NetworkingService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".services.MessageServerService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".services.MessageClientService"
                android:enabled="true"
                android:exported="true">
        </service>
    </application>

</manifest>